* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v209_1062 {
    width: 360px;
    height: 800px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v209_1063 {
    width: 360px;
    height: 20px;
    background: rgba(0,26,53,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v209_1064 {
    width: 360px;
    height: 79px;
    background: rgba(0,51,102,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v209_1065 {
    width: 24px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 28px;
    left: 30px;
    overflow: hidden;
  }
  .v209_1066 {
    width: 16px;
    height: 12px;
    background: url("../images/v209_1066.png");
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 4px;
  }
  .v209_1067 {
    width: 102px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 29px;
    left: 66px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  .v209_1068 {
    width: 360px;
    height: 80px;
    background: rgba(255,251,254,1);
    opacity: 1;
    position: absolute;
    top: 800px;
    left: 0px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
  }
  .v209_1069 {
    width: 165px;
    height: 49px;
    background: url("../images/v209_1069.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 736px;
    left: 97px;
    overflow: hidden;
  }
  .v209_1070 {
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 30px;
    overflow: hidden;
  }
  .v209_1071 {
    width: 17px;
    height: 24px;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 6px;
  }
  .v209_1072 {
    width: 30px;
    height: 30px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 120px;
    overflow: hidden;
  }
  .v209_1073 {
    width: 8px;
    height: 8px;
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 11px;
  }
  .v209_1074 {
    width: 25px;
    height: 22px;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  .v209_1075 {
    width: 80px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 35px;
    left: 0px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v209_1076 {
    width: 64px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 35px;
    left: 101px;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v209_1077 {
    width: 320px;
    height: 47px;
    background: url("../images/v209_1077.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 138px;
    left: 20px;
    overflow: hidden;
  }
  .v209_1078 {
    width: 320px;
    height: 47px;
    background: #f3f3f3;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15000000596046448);
    overflow: hidden;
  }
  .v209_1079 {
    width: 53px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 14px;
    left: 46px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v209_1080 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 11px;
    left: 12px;
    overflow: hidden;
  }
  .v209_1081 {
    width: 24px;
    height: 24px;
    background: url("../images/v209_1081.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v209_1082 {
    width: 24px;
    height: 24px;
    background: url("../images/v209_1082.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v209_1083 {
    width: 24px;
    height: 24px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v209_1084 {
    width: 24px;
    height: 24px;
    background: url("../images/v209_1084.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v209_1085 {
    width: 24px;
    height: 22px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v209_1086 {
    width: 24px;
    height: 21px;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 0px;
  }
  .v209_1087 {
    width: 12px;
    height: 12px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v209_1088 {
    width: 10px;
    height: 10px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v209_1089 {
    width: 10px;
    height: 15px;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 285px;
  }
  .v209_1090 {
    width: 134px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 110px;
    left: 20px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v209_1091 {
    width: 320px;
    height: 180px;
    background: url("../images/v209_1091.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 239px;
    left: 20px;
    overflow: hidden;
  }
  .v209_1092 {
    width: 320px;
    height: 180px;
    background: #f3f3f3;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .v209_1093 {
    width: 53px;
    color: rgba(0,51,102,1);
    position: absolute;
    top: 17px;
    left: 20px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .name {
    color: #fff;
  }
  .v209_1095 {
    width: 159px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 46px;
    left: 20px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v209_1096 {
    width: 110px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 216px;
    left: 20px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v209_1098 {
    width: 200px;
    height: 65px;
    background: rgba(0,0,0,1);
    opacity: 1;
    position: absolute;
    top: 555px;
    left: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v209_1099 {
    width: 320px;
    height: 180px;
    background: url("../images/v209_1099.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 473px;
    left: 20px;
    overflow: hidden;
  }
  .v209_1100 {
    width: 320px;
    height: 180px;
    background: #f3f3f3;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: hidden;
  }
  .v209_1101 {
    width: 53px;
    color: rgba(0,51,102,1);
    position: absolute;
    top: 17px;
    left: 20px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .v209_1102 {
    width: 200px;
    height: 65px;
    background: url("../images/v209_1102.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 66px;
    left: 60px;
    overflow: hidden;
  }
  .v209_1103 {
    width: 200px;
    height: 65px;
    background: rgba(223,223,223,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v209_1104 {
    width: 122px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 21px;
    left: 60px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .v209_1105 {
    width: 40px;
    height: 40px;
    opacity: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    overflow: hidden;
  }
  .v209_1106 {
    width: 40px;
    height: 40px;
    background: url("../images/v209_1106.png");
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .v209_1107 {
    width: 10px;
    height: 10px;
    opacity: 1;
    position: absolute;
    top: 14px;
    left: 14px;
  }
  .v209_1108 {
    width: 33px;
    height: 30px;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 3px;
  }
  .v209_1109 {
    width: 88px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 450px;
    left: 20px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  