<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/first.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v203_18"><span class="v203_19">Signscribe</span>
        <div class="v203_20">
            <div class="v203_21">
                <div class="v203_22">
                    <div class="v203_23">
                        <div class="v203_24"></div>
                    </div>
                    <div class="v203_25"></div>
                    <div class="v203_26"></div>
                    <div class="v203_28">
                        <div class="v203_29"></div>
                    </div>
                    <div class="v203_30"></div>
                    <div class="v203_32"></div>
                    <div class="v203_33"></div>
                </div>
            </div>
            <div class="v205_317"></div>
        </div>
        <div class="v205_318"></div>
        <div class="v203_35"></div>
        <div class="v203_36"></div>
        <div class="v203_40">
            <div class="v203_37">
                </div>
                    <span class="v205_280">
                        <a href = "second.html" style = "text-decoration: none; color:white;">Sign-to-Text</a>
                    </span>
                </div>
        <div class="v205_278">
            <div class="v205_279"></div><span class="v205_313"><a href = "second copy.html" style = "text-decoration: none;color: white;">Speech-to-Text</a></span></div>
    </div>
</body>

</html>