<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/second.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v1_3">
        <div class="v5_29"></div>
        <div class="v7_46"></div>
        <div class="v7_47"></div><span class="v205_114">Speak freely, we'll bridge the gap</span>
        <div class="v205_334">
            <div class="v205_335">
                <div class="v205_336">
                    <div class="v205_337">
                        <div class="v205_338"></div>
                    </div>
                    <div class="v205_339"></div>
                    <div class="v205_340"></div>
                    <div class="v205_341">
                        <div class="v205_342"></div>
                    </div>
                    <div class="v205_343"></div>
                    <div class="v205_344"></div>
                    <div class="v205_345"></div>
                </div>
            </div>
            <div class="v205_346"></div>
        </div>
        <div class="v205_347"></div>
    </div>
</body>
<script>
    setTimeout(function(){
        window.location.href = "/sign-to-txt.html";
    },3000);
</script>
</html>