<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/sign-to-txt.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v3_5">
        <div class="v6_30"></div>
        <div class="v7_103"></div>
        <div class="v7_42">
            <a href = "third.html" style = "text-decoration: none; color:white;">
            <img src="/static/images/3-bar-menu-icon-6.jpg" style="height: 24px;width: 24px;">
            <div class="v7_43"></div>
            </a>
        </div><span class="v6_33">SignSCRIBE</span>
        <div class="v11_271"></div>
        <div class="v209_357">
            <div class="v11_272">
                <a href = "speech-to-txt.html" style = "text-decoration: none; color:white;">
                <img src="/static/images/mic.png" style="height: 24px;width: 24px;">
                <div class="v11_273"></div>
                </a>
            </div>
            <div class="v11_274">
                <div class="v11_275"></div>
                <img src="/static/images/black camera.png" style="height: 25px;width: 25px;">
                <div class="v11_276"></div>
            </div><span class="v11_334">Speech-to-Text</span><span class="v11_335">Sign-to-Text</span></div>
        <div class="v209_496"></div>
        <div class="v205_352">
            <div class="v7_44"></div><span class="v7_48">English</span>
            <div class="v7_58">
                <div class="v7_66">
                    <div class="v7_64">
                        <img src="/static/images/usaflag.png" style="height: 25px;width: 25px;">
                        <div class="v7_65"></div>
                    </div>
                    <div class="v7_59">
                        <div class="v7_60"></div>
                        <div class="v7_61"></div>
                        <div class="v7_62"></div>
                        <div class="v7_63"></div>
                    </div>
                </div>
            </div>
            <div class="v205_117">
            <img src="/static/images/arrow_down.png" style="height: 25px;width: 25px;">
            </div>
        </div>
        <div class="v205_351">
            <div class="v7_106"></div><span class="v7_120">English</span>
            <div class="v209_366"><a href = "camera.html" style = "text-decoration: none; color:white;">
                <div class="v205_120"></div><span class="v205_354">Open Camera</span>
                <div class="v205_121">
                    <img src="/static/images/black camera.png" style="transform: translate(-50%, -50%);left:50%;top: 50%;width: 30px;position: absolute; height:30px">
                </div>
            </a></div>
        </div><span class="v205_353">Language Selector</span><span class="v205_356">Sign-to-Text</span></div>
</body>

</html>