<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/sign-to-txt2.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v209_1062">
        <div class="v209_1063"></div>
        <div class="v209_1064"></div>
        <div class="v209_1065">
            <img src="/static/images/3-bar-menu-icon-6.jpg" style="height: 24px;width: 24px;">
            <div class="v209_1066"></div>
        </div><span class="v209_1067">SignSCRIBE</span>
        <div class="v209_1068"></div>
        <div class="v209_1069">
            <div class="v209_1070">
                <img src="/static/images/mic.png" style="height: 24px;width: 24px;">
                <div class="v209_1071"></div>
            </div>
            <div class="v209_1072">
                <img src="/static/images/black camera.png" style="height: 24px;width: 24px;">
                <div class="v209_1073"></div>
                <div class="v209_1074"></div>
            </div><span class="v209_1075">Speech-to-Text</span><span class="v209_1076">Sign-to-Text</span></div>
        <div class="v209_1077">
            <div class="v209_1078"></div><span class="v209_1079">English</span>
            <div class="v209_1080">
                <div class="v209_1081">
                    <div class="v209_1082">
                        <div class="v209_1083"></div>
                    </div>
                    <div class="v209_1084">
                        <img src="/static/images/usaflag.png" style="height: 25px;width: 25px;">
                        <div class="v209_1085"></div>
                        <div class="v209_1086"></div>
                        <div class="v209_1087"></div>
                        <div class="v209_1088"></div>
                    </div>
                </div>
            </div>
            <div class="v209_1089">
            <img src="/static/images/arrow_down.png" style="height: 25px;width: 25px;">
            </div>
        </div><span class="v209_1090">Language Selector</span>
        <div class="v209_1091">
            <div class="v209_1092"></div><span class="v209_1093">English</span>
            <div class="name"></div><span class="v209_1095">I love my mommy</span></div><span class="v209_1096">Speech-to-Text</span>
        <div class="v209_1098"></div>
        <div class="v209_1099">
            <div class="v209_1100"></div><span class="v209_1101">English</span>
            <div class="v209_1102">
                <div class="v209_1103"></div><span class="v209_1104">Open Camera</span>
                <div class="v209_1105">
                    <img src="/static/images/black camera.png" style="height: 28px;width: 28px;">
                    <div class="v209_1106"></div>
                    <div class="v209_1107"></div>
                    <div class="v209_1108"></div>
                </div>
            </div>
        </div><span class="v209_1109">Sign-to-Text</span></div>
</body>

</html>