<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/sign-to-txt-final.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v209_1110">
        <div class="v209_1111"></div>
        <div class="v209_1112"></div>
        <div class="v209_1113">
            <img src="/static/images/3-bar-menu-icon-6.jpg" style="height: 25px;width: 25px;">
            <div class="v209_1114"></div>
        </div><span class="v209_1115">SignSCRIBE</span>
        <div class="v209_1116"></div>
        <div class="v209_1117">
            <div class="v209_1118">
                <img src="/static/images/mic.png" style="height: 25px;width: 25px;">
                <div class="v209_1119"></div>
            </div>
            <div class="v209_1120">
                <img src="/static/images/black camera.png" style="height: 25px;width: 25px;">
                <div class="v209_1121"></div>
                <div class="v209_1122"></div>
            </div><span class="v209_1123">Speech-to-Text</span><span class="v209_1124">Sign-to-Text</span></div>
        <div class="v209_1125">
            <div class="v209_1126"></div><span class="v209_1127">English</span>
            <div class="v209_1128">
                <div class="v209_1129">
                    <div class="v209_1130">
                        <div class="v209_1131"></div>
                    </div>
                    <div class="v209_1132">
                        <img src="/static/images/usaflag.png" style="height: 25px;width: 25px;">
                        <div class="v209_1133"></div>
                        <div class="v209_1134"></div>
                        <div class="v209_1135"></div>
                        <div class="v209_1136"></div>
                    </div>
                </div>
            </div>
            <div class="v209_1137">
            <img src="/static/images/arrow_down.png" style="height: 25px;width: 25px;">
            </div>
        </div><span class="v209_1138">Language Selector</span>
        <div class="v209_1139">
            <div class="v209_1140"></div><span class="v209_1141">English</span>
            <div class="name"></div><span class="v209_1143">I love my mommy</span></div><span class="v209_1144">Speech-to-Text</span>
        <div class="v209_1158">
            <div class="v209_1159"></div><span class="v209_1160">English</span>
            <div class="name"></div>
            <div class="v209_1162">
                <div class="v209_1163">
                    <img src="/static/images/white camera.png" style="height: 20px;width: 20px;">
                    <div class="v209_1164"></div>
                    <div class="v209_1165"></div>
                </div>
            </div>
            <div class="v209_1166">
                <img src="/static/images/volume.jpg" style="height: 28px;width: 28px;">
                <div class="v209_1167"></div>
            </div>
            <div class="v209_1168">
                <div class="v209_1169"></div>
            </div>
            <div class="v209_1170">
                <div class="v209_1171"></div>
            </div>
            <div class="v209_1172">
                <div class="v209_1173"></div>
            </div>
        </div><span class="v209_1174">Sign-to-Text</span><span class="v209_1175">I love my mommy</span></div>
</body>

</html>