<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/speech-to-txt-final.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v209_837">
        <div class="v209_838"></div>
        <div class="v209_839"></div>
        <div class="v209_840">
            <img src="/static/images/3-bar-menu-icon-6.jpg" style="height: 24px;width: 24px;">
            <div class="v209_841"></div>
        </div><span class="v209_842">SignSCRIBE</span>
        <div class="v209_856"></div>
        <div class="v209_861">
            <div class="v209_862">
                <img src="/static/images/mic.png" style="height: 24px;width: 24px;">
                <div class="v209_863"></div>
            </div>
            <div class="v209_864">
                <img src="/static/images/black camera.png" style="height: 24px;width: 24px;">
                <div class="v209_865"></div>
                <div class="v209_866"></div>
            </div><span class="v209_867">Speech-to-Text</span><span class="v209_868">Sign-to-Text</span></div>
        <div class="v209_869">
            <div class="v209_870"></div><span class="v209_871">English</span>
            <div class="v209_872">
                <img src="/static/images/usaflag.png" style="height: 24px;width: 24px;">
                <div class="v209_873">
                    <div class="v209_874">
                        <div class="v209_875"></div>
                    </div>
                    <div class="v209_876">
                        <div class="v209_877"></div>
                        <div class="v209_878"></div>
                        <div class="v209_879"></div>
                        <div class="v209_880"></div>
                    </div>
                </div>
            </div>
            <div class="v209_881">
            <img src="/static/images/arrow_down.png" style="height: 24px;width: 24px;">
            </div>
        </div><span class="v209_898">Language Selector</span><span class="v209_899">Sign-to-Text</span>
        <div class="v209_882">
            <div class="v209_883"></div><span class="v209_884">English</span>
            <div class="name"></div>
            <div class="v209_886">
                <div class="v209_887">
                    <img src="/static/images/white camera.png" style="height: 20px;width: 20px;">
                    <div class="v209_888"></div>
                    <div class="v209_889"></div>
                </div>
            </div>
            <div class="v209_890">
                <img src="/static/images/volume.jpg" style="height: 24px;width: 24px;">
                <div class="v209_891"></div>
            </div>
            <div class="v209_892">
                <div class="v209_893"></div>
            </div>
            <div class="v209_894">
                <div class="v209_895"></div>
            </div>
            <div class="v209_896">
                <div class="v209_897"></div>
            </div>
        </div><span class="v209_900">I love my mommy</span>
        <div class="v209_901">
            <div class="v209_902"></div><span class="v209_903">English</span>
            <div class="name"></div>
            <div class="v209_905">
                <div class="v209_906"></div>
            </div>
            <div class="v209_907">
                <div class="v209_908"></div>
            </div>
            <div class="v209_909">
                <div class="v209_910"></div>
            </div><span class="v209_921">I love my mommy too!</span></div><span class="v209_915">Speech-to-Text</span></div>
</body>

</html>