<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/speech-to-txt2.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v209_709">
        <div class="v209_710"></div>
        <div class="v209_711"></div>
        <div class="v209_712">
            <img src="/static/images/3-bar-menu-icon-6.jpg" style="height: 25px;width: 25px;">
            <div class="v209_713"></div>
        </div><span class="v209_714">SignSCRIBE</span>
        <div class="v209_728"></div>
        <div class="v209_733">
            <div class="v209_734">
                <img src="/static/images/mic.png" style="height: 25px;width: 25px;">
                <div class="v209_735"></div>
            </div>
            <div class="v209_736">
                <img src="/static/images/black camera.png" style="height: 25px;width: 25px;">
                <div class="v209_737"></div>
                <div class="v209_738"></div>
            </div><span class="v209_739">Speech-to-Text</span><span class="v209_740">Sign-to-Text</span></div>
        <div class="v209_741">
            <div class="v209_742"></div><span class="v209_743">English</span>
            <div class="v209_744">
                <img src="/static/images/usaflag.png" style="height: 25px;width: 25px;">
                <div class="v209_745">
                    <div class="v209_746">
                        <div class="v209_747"></div>
                    </div>
                    <div class="v209_748">
                        <div class="v209_749"></div>
                        <div class="v209_750"></div>
                        <div class="v209_751"></div>
                        <div class="v209_752"></div>
                    </div>
                </div>
            </div>
            <div class="v209_753"></div>
        </div>
        <div class="v209_754">
            <div class="v209_755"></div><span class="v209_756">English</span>
            <div class="name"></div>
            <div class="v209_758">
                <div class="v209_759">
                    <img src="/static/images/white camera.png" style="height: 20px;width: 20px;">
                    <div class="v209_760"></div>
                    <div class="v209_761"></div>
                </div>
            </div>
            <div class="v209_762">
                <img src="/static/images/volume.jpg" style="height: 28px;width: 28px;">
                <div class="v209_763"></div>
            </div>
            <div class="v209_764">
                <div class="v209_765"></div>
            </div>
            <div class="v209_766">
                <div class="v209_767"></div>
            </div>
            <div class="v209_768">
                <div class="v209_769"></div>
            </div>
        </div><span class="v209_770">Language Selector</span><span class="v209_771">Sign-to-Text</span><span class="v209_772">I love my mommy</span>
        <div class="v209_811">
            <div class="v209_812"></div><span class="v209_813">English</span>
            <div class="name"></div>
            <div class="v209_833">
                <div class="v209_834">
                    <img src="/static/images/whitemic.jpg" style="height: 28px;width: 28px;">
                    <div class="v209_835"></div>
                    <div class="v209_836"></div>
                </div>
            </div>
        </div><span class="v209_827">Speech-to-Text</span></div>
</body>

</html>