<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/third.css') }}" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <div class="v11_355">
        <div class="v11_356"></div>
        <div class="v11_357"></div>
        <div class="v11_361">
            <div class="v11_362"></div>
        </div><span class="v11_363">language Translator</span><span class="v11_364">English</span><span class="v11_365">English</span><span class="v11_366">Spanish</span><span class="v11_367">Spanish</span>
        <div class="v11_368">
            <div class="v11_369"></div>
        </div>
        <div class="v11_403">
            <div class="v11_404">
                <div class="v11_405">
                    <div class="v11_406"></div>
                </div>
                <div class="v11_407">
                    <div class="v11_408"></div>
                    <div class="v11_409"></div>
                    <div class="v11_410"></div>
                    <div class="v11_411"></div>
                </div>
            </div>
        </div><span class="v11_413">Hello how are you?</span><span class="v11_414">¿Hola como estas?</span><span class="v11_415">9:30</span>
        <div class="v11_416">
            <div class="v11_417">
                <div class="v11_418"></div>
                <div class="v11_419"></div>
                <div class="v11_420"></div>
                <div class="v11_421"></div>
            </div>
            <div class="v11_422">
                <div class="v11_423"></div>
                <div class="v11_424"></div>
            </div>
            <div class="v11_425">
                <div class="v11_426"></div>
                <div class="v11_427"></div>
            </div>
        </div>
        <div class="v11_433">
            <div class="v11_434"></div>
        </div>
        <div class="v11_435">
            <div class="v11_436"></div>
        </div>
        <div class="v11_439">
            <div class="v11_440"></div>
        </div>
        <div class="v11_441">
            <div class="v11_442"></div>
        </div>
        <div class="v11_443"></div>
        <div class="v11_444">
            <div class="v11_445"></div>
        </div>
        <div class="v11_446">
            <div class="v11_447"></div>
            <div class="v11_448"></div>
        </div>
        <div class="v11_449"></div>
        <div class="v11_450">
            <div class="v11_451"></div>
        </div>
        <div class="v11_452">
            <div class="v11_453"></div>
        </div><span class="v11_456">Chat</span><span class="v11_457">Camera</span><span class="v11_458">History</span>
        <div class="v11_462"></div>
        <div class="v11_463"></div>
        <div class="v11_464">
            <div class="v11_465">
                <div class="v11_466">
                    <div class="v11_467">
                        <div class="v11_468"></div>
                    </div>
                    <div class="v11_469"></div>
                    <div class="v11_470"></div>
                    <div class="v11_472">
                        <div class="v11_473"></div>
                    </div>
                    <div class="v11_474"></div>
                    <div class="v11_476"></div>
                    <div class="v11_477"></div>
                </div>
            </div>
            <div class="v209_922"></div>
            <div class="v209_926"></div>
        </div><span class="v11_478">SIGNScribe</span>
        <div class="v11_488">
            <a href = "speech-to-txt.html" style = "text-decoration: none; color:white;">
            <span class="v11_489">Speech-to-Text</span>
            <div class="v11_490">
                <div class="v11_497"></div>
                <div class="v209_951">
                    <img src="/static/images/mic.png" style="height: 24px;width: 24px;">  
                    <div class="v209_952"></div>
                </div>
            </div>
            </a>
        </div>
        <div class="v11_498">
            <a href = "sign-to-txt.html" style = "text-decoration: none; color:white;">
            <span class="v11_499">Sign-to-Text</span>
            <div class="v209_962">
                <img src="/static/images/black camera.png" style="height: 24px;width: 24px;">  
                <div class="v209_963"></div>
                <div class="v209_964"></div>
            </div>
        </a>
        </div>
    </div>
</body>

</html>